{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>两个小蜜蜂</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

<div class="container">
  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">小蜜蜂</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">招聘</a></li>
          <li><a href="#">关于</a></li>
          <li><a href="#">联系</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>


  <div class="jumbotron">
    <h2>招聘信息</h2>

    <table class="table table-striped">
      <tr>
        <th>Item</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>企业名称：{{ info.fact_name }}</td>
        <td>工作地址：{{ info.fact_addr }}</td>
        <td>招聘人数：{{ info.hire_num }}</td>
      </tr>

    </table>
  </div>
  <a href="{% url 'home'  %}">返回</a>
</div><!-- /.container -->

<script language="JavaScript" async type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
